body {
    background-color: black;
    margin: 0;
}
#header {
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    height: 50;
    text-align: center;
}

#bcGen {
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
    background-color: white;
    height: 400;
    width: 95%;
    margin-top: 10;
    margin-left: 15;
    margin-right: 15;
}

#isrcGen {
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
    background-color: white;
    height: 350;
    width: 95%;
    margin-top: 30px;
    margin-left: 15;
    margin-right: 15;
}

.buttonDesc {
    color: black;
    width: 20%;
    margin-left: 10px;
    float: left;
}
.buttonDesc div {
    border: 1px solid black;
    line-height: 17px;
    height: 37px;
}
.returnField {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 200;
    height: 200;
    margin-left: 10%;
    float: left;
}

.isrcHead {
    margin-left: 10;
}
.isrcForm {
    margin-left: 15;
    position: relative;
    float: left;
}
.isrcReturn {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 200;
    height: 200;
    float: left;
    margin-left: 10%;
    overflow: auto;
}

/* CSS class for BC Gen buttons*/
.buttonHead {
    margin-left: 10;
}
.buttons {
    border: 2 solid black;
    float: left;
    margin-left: 15;
}
.buttons div {
    margin-bottom: 2px;
    background: white;
    width: 170px;
    height: 30px;
    position: relative;
    border: 2px solid black;
    border-radius: 7px;
    padding: 3px 3px;
}
.buttons label, .buttons input {
    position: absolute;
    color: black;
    font-weight: bold;
}
.buttons input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}
.buttons input[type="radio"]:checked + label {
    background-color: black;
    color: white;
    z-index: 90;
    text-align: center;
    line-height: 30px;
}
.buttons label {
    width: 170px;
    height: 30px;
    cursor: pointer;
    z-index: 90;
    text-align: center;
    line-height: 30px;
    padding: 3px 3px;
    left: 0;
    top: 0;
    border: 1px none;
    border-radius: 4px;
}
.buttons label:hover {
    background: rgb(187, 187, 187);
}

/* CSS class for generation buttons */
.genButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
    display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.genButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.genButton:active {
	position:relative;
	top:1px;
}

/* Font controls */
h1 {
	font-family: "Helvetica Neue";
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
}
h2 {
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
}
h3 {
	font-family: "Helvetica Neue";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 21px;
}
p {
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}
label {
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Helvetica Neue";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Helvetica Neue";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
