<html>
    <head>

        <title>Number Generator</title>

        <link rel="stylesheet" type="text/css" href="mystyle.css">

    </head>

    <body>

        <div id="header">
            <img src="{{url_for('static', filename='MEG_Logo_white.png')}}" height="60" width="70" style="float: left">
            <h1>Membran Number Generator</h1>
        </div>

        <div id="bcGen">

            <div class="buttonHead">
                <h2>Barcode Generator</h2>
                <p>Select Product Type:</p>
            </div>
            
            <div class="buttons">
                <form>
                    <div>
                        <input type="radio" name="codeType" id="233..." value="233...">
                        <label for="233...">Membran Product (233)</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="600..." value="600...">
                        <label for="600...">Intense Product (600)</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="PROMO" value="PROMO">
                        <label for="PROMO">PROMO</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="Digital" value="Digital">
                        <label for="Digital">Digital</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="FremdLabel" value="FremdLabel">
                        <label for="FremdLabel">Label Products</label>
                    </div>
                </form>
                <a class="genButton" onclick="getBarcode()">Generate Barcode</a>
            </div>

            <div class="buttonDesc">
                    <div>
                        <p>Product licensed to MPG / MRM. or Masters owned by Membran</p>
                    </div>
                    <div>
                        <p>Products produced by Intense</p>
                    </div>
                    <div>
                        <p>Products from other labels, distributed by Membran</p>
                    </div>
                    <div>
                        <p>Products for Promo purposes only. Not for sale.</p>
                    </div>
                    <div>
                        <p>Digital Only Releases</p>
                    </div>
            </div>

            <div class="BCreturnField">
                <p>New Barcode:</p>
                <div id="returnBarcode">
                    <!-- Barcode num goes here -->
                </div>
                <p>New Catalogue Number:</p>
                <div id="returnProdNum">
                    <!-- Catalogue num goes here -->
                </div>
            </div>

        </div>

        <script>
            function getBarcode() {
                var codeType = document.querySelector('input[name="codeType"]:checked').value;
                var xhttp = new XMLHttpRequest();
                var codeDict = {};
                xhttp.onreadystatechange = function() {
                    var codeDict = JSON.parse(this.responseText);
                    console.log(this.responseText);
                    console.log(codeDict);
                    for (x in codeDict){
                        console.log(codeDict[x]);
                    }
                    document.getElementById("returnBarcode").innerHTML = codeDict.code;
                    document.getElementById("returnProdNum").innerHTML = codeDict.strProdNum;
                };
                
                xhttp.open("POST", "{{url_for('createBarcode')}}", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("codeType="+codeType);                
            }
        </script>

        <div id="isrcGen">

            <div class="isrcHead">
                <h2>ISRC Generator</h2>
                <p>Enter desired amount of ISRC's:</p>
            </div>

            <div class="isrcForm">
                <form>                    
                    <div>
                        <input id="amount">
                    </div>
                </form>
                <a class="genButton" onclick="getISRC()">Generate ISRC</a>
            </div>

            <script>
                function getISRC() {
                    var amount = document.getElementById('amount').value;
                    var xhttp = new XMLHttpRequest();
                    var isrcString = "";
                    var isrcList = [];
                    xhttp.onreadystatechange = function() {
                        var isrcList = JSON.parse(this.responseText);

                        for (x in isrcList) {
                            isrcString += isrcList[x] + "<br>";
                        }
                        document.getElementById("returnISRC").innerHTML = isrcString;
                    };
                    
                    xhttp.open("POST", "{{url_for('createISRC')}}", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("amount="+amount);                
                }
            </script>

            <div class="isrcReturn">
                <p id="returnISRC">Generated ISRC will appear here</p>
            </div>

        </div>       
    </body>
</html>
