<html>
    <head>

        <title>Number Generator</title>

        <link rel="stylesheet" type="text/css" href="mystyle.css">

    </head>

    <body>

        <div id="header">
            <img src="{{url_for('static', filename='MEG_Logo_black.svg')}}" height="50" width="50" style="float: left">
            <h1>Membran Number Generator</h1>
        </div>

        <div id="bcGen">

            <div class="buttonHead">
                <h2>Barcode Generator</h2>
                <p>Select Product Type:</p>
            </div>
            
            <div class="buttons">
                <form>
                    <div>
                        <input type="radio" name="codeType" id="233..." value="233...">
                        <label for="233...">Membran Product (233)</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="600..." value="600...">
                        <label for="600...">Intense Product (600)</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="PROMO" value="PROMO">
                        <label for="PROMO">PROMO</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="Digital" value="Digital">
                        <label for="Digital">Digital</label>
                    </div>
                    <div>
                        <input type="radio" name="codeType" id="FremdLabel" value="FremdLabel">
                        <label for="FremdLabel">Label Products</label>
                    </div>
                </form>
                <a class="genButton" onclick="getBarcode()">Generate Barcode</a>
            </div>

            <div class="buttonDesc">

                <p>Here are the descriptions</p>

            </div>

            <div class="returnField">

                <p id="returnBarcode">Generated barcode will appear here</p>

            </div>

        </div>

        <script>
            function getBarcode() {
                var codeType = document.querySelector('input[name="codeType"]:checked').value;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    document.getElementById("returnBarcode").innerHTML = this.responseText;
                };
                
                xhttp.open("POST", "{{url_for('createBarcode')}}", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("codeType="+codeType);                
            }
        </script>

        <div id="isrcGen">

            <div class="isrcHead">
                <h2>ISRC Generator</h2>
                <p>Enter desired amount of ISRC's:</p>
            </div>

            <div class="isrcForm">
                <form>                    
                    <div>
                        <input id="amount">
                    </div>
                </form>
                <a class="genButton" onclick="getISRC()">Generate ISRC</a>
            </div>

            <script>
                function getISRC() {
                    var amount = document.getElementById('amount').value;
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        document.getElementById("returnISRC").innerHTML = this.responseText;
                    };
                    
                    xhttp.open("POST", "{{url_for('createISRC')}}", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("amount="+amount);                
                }
            </script>

            <div class="isrcReturn">
                <p id="returnISRC">Generated ISRC will appear here</p>
            </div>

        </div>       
    </body>
</html>
